.container {
  width: 100%;
  height: 30rem;
  display: grid;
  place-items: center;
}

.item {
  display: grid;
  place-items: center;
}

.text {
  margin-top: 1.6rem;
  font-size: 1.4rem;
  color: lightgray;
}

.logo {
  opacity: 50%;
}